.start-page {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.start-page__header {
    margin-top: 5vmin;
    margin-bottom: 5vmin;
    text-align: center;
}

.start-page__header .app-title {
    font-size: calc(42px + 5vmin);
    text-shadow: 2px 1px 3px rgba(0,0,0,.8);
}

.start-page__header .username {
    color: black;
    font-size: 20px;
    padding: 8px 16px;
    border-radius: 4px;
    background-color: white;
    -webkit-box-shadow: 0 2px 4px -1px rgba(0,0,0,.2),0 4px 5px 0 rgba(0,0,0,.14),0 1px 10px 0 rgba(0,0,0,.12);
    box-shadow: 0 2px 4px -1px rgba(0,0,0,.2),0 4px 5px 0 rgba(0,0,0,.14),0 1px 10px 0 rgba(0,0,0,.12);
}

.start-page__main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.start-page__main .card {
    width: 240px;
    margin: 16px;
    color: black;
    font-size: 20px;
    text-align: center;
    -webkit-box-shadow: 0 2px 4px -1px rgba(0,0,0,.2),0 4px 5px 0 rgba(0,0,0,.14),0 1px 10px 0 rgba(0,0,0,.12);
    box-shadow: 0 2px 4px -1px rgba(0,0,0,.2),0 4px 5px 0 rgba(0,0,0,.14),0 1px 10px 0 rgba(0,0,0,.12);
}