.board {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.board .briscola-card {
    height: 100%;
    max-height: 25vh;
    margin: 0 2vmin;
    padding: calc(4px + .5vh);
    background-color: white;
    color: black;
    border-radius: calc(4px + .5vh);
    box-shadow: 0 2px 4px -1px rgba(0,0,0,.2),0 4px 5px 0 rgba(0,0,0,.14),0 1px 10px 0 rgba(0,0,0,.12);
    -webkit-box-shadow: 0 2px 4px -1px rgba(0,0,0,.2),0 4px 5px 0 rgba(0,0,0,.14),0 1px 10px 0 rgba(0,0,0,.12);
}

.board .state {
    position: absolute;
    top: 2vmin;
    padding: 2vmin 3vmin;
    background-color: rgba(0, 0, 0, .8);
    color: white;
    font-size: 1.25rem;
    border-radius: 16px;
    z-index: 5;
}

.board .deck {
    position: absolute;
    top: 2vmin;
    left: 2vmin;
    height: 300px;
    width: 300px;
}

.board .played-cards {
    width: 680px;
    max-width: 96vw;
    height: 300px;
    max-height: 33vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.board .my-cards {
    position: absolute;
    bottom: 2vmin;
    width: 600px;
    max-width: 96vw;
    height: 300px;
    max-height: 33vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.board .my-cards .briscola-card {cursor: pointer;}

.board .chat-button {
    position: absolute;
    top: 2vmin;
    right: 2vmin;
}

.board .chat {
    display: none;
    position: absolute;
    top: calc(2vmin + 48px);
    right: 2vmin;
    max-width: 96vw;
    padding: 16px;
    background-color: rgba(0, 0, 0, .85);
    border-radius: 8px;
}
.board .chat.visible {display: block}

.board .chat .chat-messages {
    height: 260px;
    overflow: auto;
    font-size: 14px;
}

.board .chat .chat-messages .chat-message {margin: 4px 0;}

.board .chat .chat-messages .chat-message .chat-message__username {
    color: #8BC34A;
    font-weight: bold;
    margin-right: 12px;
}
.board .chat .chat-messages .chat-message .chat-message__text {}

.board .chat .chat-footer {margin-top: 16px;}