.four-player-page {
    min-height: 100vh;
}

.four-player-page__header {
    padding: 16px;
    text-align: center;
    background-color: rgba(0, 0, 0, .25);
}
.four-player-page__header .app-title {
    font-size: calc(24px + 1vmin);
}

.four-player-page__main {

}